<!-- Header Component -->
<div class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- header branding  VaxPhpnsInfo-->
    <div class="navbar-header">
      <a href="#" class="navbar-brand">VaxPhpnsInfo</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/vaccinated-list" routerLink="/vaccinated-list"
            >Vaccinated List</a
          >
        </li>
        <li routerLinkActive="active">
          <a routerLink="vaccine-areas">Vaccine Areas </a>
        </li>
      </ul>
    </div>
  </div>
</div>
