<!-- Vaccine Area List Component -->

<div class="row">
  <app-vaccine-area-edit></app-vaccine-area-edit>
  <hr />
  <ul class="list-group">
    <a
      href="#"
      class="list-group-item"
      style="cursor: pointer"
      *ngFor="let area of areas"
      [ngSwitch]="area.vaccAvailable.toLowerCase()"
      >{{ area.vaccLocation }}

      <!-- using ngSwitch property  -->
      <span *ngSwitchCase="'pfizer'" class="label label-primary">{{
        area.vaccAvailable
      }}</span>

      <span *ngSwitchCase="'sinovac'" class="label label-warning">{{
        area.vaccAvailable
      }}</span>

      <span *ngSwitchCase="'moderna'" class="label label-success">{{
        area.vaccAvailable
      }}</span>
    </a>
  </ul>
</div>
